<footer>
    <link rel="stylesheet" href="/Forum.css" media="screen">
    <div class="row">
        <div class="col footer-col-first text-center">
            <span class="footer-title">informacje</span>
            <span class="footer-text">zatrudnij się</span>
            <span class="footer-text">dla mediów</span>
            <span class="footer-text">relacje inwestorskie</span>
        </div>

        <div class="col footer-col-second text-center">
            <span class="footer-title">pomoc</span>
            <span class="footer-text">obsługa klienta</span>
            <span class="footer-text">kontakt</span>
            <span class="footer-text">polityka prywatności</span>
            <span class="footer-text">regulamin sklepu</span>
        </div>

        <div class="col footer-col-third text-center">
            <span class="footer-title">o nas</span>
            <span class="footer-text">o firmie</span>
            <span class="footer-text">nasi pracownicy</span>
            <span class="footer-text">nasze produkty</span>
<!--            </span>-->
        </div>
    </div>
</footer>