<nav>
    <div class="site-title">
        <a href="/"><h1>Banan Blog</h1></a>
        <p>A Banan Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/comments/create">New Comment</a></li>
    </ul>
</nav>