<section class="section0">
	<link rel="stylesheet" href="/nav.css" media="screen">
	<nav class="nav-back">
		<!-- Nawigacja - początek -->
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="row vertical-center">
						<div class="col v-c-to-left">
							<a class="nav-link" href = "/">STRONA GŁÓWNA</a>
						</div>
						<div class="col v-c-to-left">
							<a href="/comments/all" class="nav-link">KOMENTARZE</a>
						</div>
					</div>
				</div>
				<div class="col vertical-center">
					<a class="navbar-brand"><img src='/images/logo.png'></a>
				</div>
				<div class="col">
					<div class="row vertical-center">
						<div class="col v-c-to-right">
							<% if (logged) { %>
								<a href="/users/me" class="nav-link">MOJE KONTO</a>
							<% } else { %>
								<a href="/users/login" class="nav-link">ZALOGUJ SIĘ</a>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
</section>
