<nav>
    <div class="site-title">
        <a href="/"><h1>Nycto</h1></a>
        <p>A Nycto Game</p>
    </div>
    <ul>
        <li><a href="/">Comments</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/comments/create">New Comment</a></li>
    </ul>
</nav>