<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

<!--    class details should ideally be its own separate class-->
    <div class="details content">
        <h2>Registered users</h2>

        <% if (users.length > 0) { %>
            <% users.forEach(users => { %>
                <a class="single">
                    <h3 class="title"><%= users.username %></h3>
                </a>
            <% }) %>
        <% } else { %>
            <p>There are no users to display</p>
        <% } %>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>