<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="create-comment content">
        <form action="/comments" method="POST">
            <label for="title">Comment title:</label>
            <input type="text" id="title" name="title" required>
            <label for="author">Comment author:</label>
            <input type="text" id="author" name="author" required>
            <label for="body">Comment body:</label>
            <textarea id="body" name="body" required></textarea>
            <button>Submit</button>
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>