<!DOCTYPE html>
<html style="font-size: 16px;" lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Strona główna</title>
	<link rel="stylesheet" href="mainpage.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

	<!-- Dodany bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <meta property="og:title" content="Strona główna">
    <meta property="og:type" content="website">
</head>
 <body class="body" data-lang="pl">	

	<!-- <section class="u-align-center u-clearfix header u-section-1" id="carousel_ee3f" data-image-width="1800" data-image-height="2200"> -->


	<section class="section1">

	<!-- Nawigacja - początek -->
	<div class="container">
	  <div class="row">
		<div class="col">
			<div class="row vertical-center">
				<div class="col v-c-to-left">
					<a class="nav-link" href = "Strona-główna.html">STRONA GŁÓWNA</a>
				</div>
				<div class="col v-c-to-left">
					<a class="nav-link" href = "Forum.html">FORUM</a>
				</div>
			</div>
		</div>
		<div class="col vertical-center">
		  <a class="navbar-brand"><img src='images/logo.png'></a>
		</div>
		<div class="col">
			<div class="row vertical-center">
			  <div class="col v-c-to-right">
				<a class="nav-link">ROZMIAR CZCIONKI</a>
			  </div>
			  <div class="col v-c-to-right">
				<a href="/users/register" class="nav-link">ZALOGUJ SIĘ</a>
			  </div>
			</div>
		</div>
	  </div>
	</div>
	<!-- Nawigaja - koniec -->

	<div class="main-title text-center">
		<h3>WEJDŹ DO ŚWIATA</h3> 
		<h3>HORRORU JUŻ TERAZ.</h3>
		<br>
		<h3>KUP GRĘ NA STEAM.</h3>
	</div>

	</section>
	 
	<section class="section2">
		<div class="section2-text text-center">
		  <h3 class="section2-title">O GRZE </h3>
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.<br>
		  </p>
		</div>
	</section>
	
	<section class="section3" >
      <div class="row">
          <div class="col">
            <div class="section3-img1">
              <h4 class="section3-img1-text">Rozwiązuj zagadki</h4>
            </div>
          </div>
          <div class="col">
            <div class="section3-img2">
              <h4 class="section3-img2-text">Szukaj ukrytych przejść</h4>
            </div>
          </div>
          <div class="col">
            <div class="section3-img3">
              <h4 class="section3-img3-text">Znajdź wyjście z labiryntu</h4>
            </div>
          </div>
      </div>
	</section>
	
	<section class="section4">
		<div class="section4-text text-center">
		  <h3 class="section2-title">O NAS</h3>
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.<br>
		  </p>
		 </div>
    </section>

	<footer>
		<div class="row">
			<div class="col footer-col-first text-center">
			  <span class="footer-title">informacje</span>
			  <span class="footer-text">zatrudnij się</span>
			  <span class="footer-text">dla mediów</span>
			  <span class="footer-text">relacje inwestorskie</span>
			</div>
		
			<div class="col footer-col-second text-center">
				<span class="footer-title">pomoc</span>
				<span class="footer-text">obsługa klienta</span>
				<span class="footer-text">kontakt</span>
				<span class="footer-text">polityka prywatności</span>
				<span class="footer-text">regulamin sklepu</span>
			</div>

			<div class="col footer-col-third text-center">
			  <span class="footer-title">o nas</span>
				<span class="footer-text">o firmie</span>
				<span class="footer-text">nasi pracownicy</span>
				<span class="footer-text">nasze produkty</span>
			</div>
		</div>
	</footer>
  
</body>
</html>