<!DOCTYPE html>
<html style="font-size: 16px;" lang="pl">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Zaloguj sie</title>
    <link rel="stylesheet" href="/register.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">

    <!-- Dodany bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <meta property="og:title" content="Strona główna">
    <meta property="og:type" content="website">
</head>

<body class="body" data-lang="pl">


    <section class="section5">
        <%- include('./partials/nav.ejs') %>

        <div class="create-comment content text-center">
            <form action="/users" method="POST" class="labels">
                <div class="labels">
                    <h4 class="label1"><label for="title">Username:</label></h4>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="labels">
                    <h5 class="label2"><label for="snippet">Password:</label></h5>
                    <input type="text" id="password" name="password" required>
                </div>
                <div class="labels">
                    <h6 class="label3"><button class="sub_button">Submit</button></h6>
                </div>

            </form>
        </div>
    </section>


    <%- include('./partials/footer.ejs') %>

</body>
</html>