.section6 {
    background-image: url("/images/image3.png");
    background-size: cover;
    background-position: 50% 50%;
    min-height: 750px;
}

.comments a {
    background-image: url("/images/com_back.png");
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%, 100%;
    display: block;
    margin: 50px 200px;
    padding: 5px 150px;
    border-left: 8px solid crimson;
}

.title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
}

.snippet2 {
    margin-top: 15px;
    color: #333333;
}


.label1 {
    justify-content: center;
    font-size: 22px;
    color: white;
}

.comments a:hover h3{
    color: crimson;
}

.delete-button:hover{
    color: red;
}

.delete-button {
    background-color: black;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
    font-weight: bold;
}

